<h1>購入検討リスト</h1>

<%= link_to '新規作成', new_want_path %>


<table>
    <tr>
        <th>商品名</th>
        <th>値段</th>
        <th>優先度</th>
        <th>検討期限</th>
        <th></th>
    </tr>


    <% @wants.each do |w| %>
    <tr>
    <td><%= w.name %></td>
    <td><%= w.price %>円</td>
    <td><%= w.priority %></td>
    <td><%= w.limit_date %></td>
    <td>
        <%= link_to '購入リストに移す', want_path(w.id) %>
    　　 <%= link_to 'buy', buy_path(thing_id: w.thing_id ) %>
    　　 <%= form_with  do |f| %>
    　　 <%= f.hidden_field :thing_id, value: w.thing_id %>
    　　 <%= f.submit "buy" %>
    　　 <%= end  %>

        <%= link_to '削除', want_path(w.id), method: :delete %>
    </td>
    <% end %>
    </tr>
</table>