<h1>購入検討リスト</h1>

<%= link_to '新規作成', new_want_path %>


<table>
    <tr>
        <th>商品名</th>
        <th>値段</th>
        <th>優先度</th>
        <th>検討期限</th>
        <th></th>
    </tr>

    <% @wants.each do |w| %>
    <tr>
    <td><%= w.name %></td>
    <td><%= w.price %>円</td>
    <td><%= w.priority %></td>
    <td><%= w.limit_date %></td>

    <td>
        <%= form_with model:@buy, local:true do |f| %>
        <%= f.hidden_field :month, value: @date %>
        <%= f.hidden_field :want_id, value: w.id %>
        <%= f.submit "購入リストに入れる" %>
        <% end %>
    </td>


    <td>
        <%= link_to '削除', want_path(w.id), method: :delete %>


    </td>
    </tr>
    <% end %>

</table>