<div class="container-fluid pt-5">
    <h1 class="want-title text-center py-5">購入検討リスト</h1>
    <div class="row justify-content-center pb-5">
        <%= form_with model:@want, local:true do |f| %>

        <div class="col-12">
          <%= render 'layouts/error_messages', model: f.object %>
        </div>

        <div class="col-12">
            <%= f.hidden_field :month, value: @month %>
        </div>

        <div class="col-12 pb-3">
            <%= f.label :商品名 %>
            <%= f.text_field :name %>
        </div>

        <div class="col-12 pb-3">
            <%= f.label :値段　%>
            <%= f.text_field :price %>円
        </div>

        <div class="col-12 pb-3">
            <%= f.label :優先度 %>
            <%= f.select :priority, Want.priorities_i18n.keys.map {|k| [Want.priorities_i18n[k], k]} %>
        </div>

        <div class="col-12 pb-3">
            <%= f.label :検討期限　%>
            <%= f.date_field :limit_date %>
        </div>

        <div class="offset-2 col-9 pb-3">
            <%= f.submit "追加する", class: 'btn btn-outline-info'  %>
        </div>

        <% end %>
    </div>
</div>