<div class="container-fluid pt-5">
<h2 class="user-title text-center pb-5">プロフィール編集</h2>
    <div class="row justify-content-center pb-5">
      <%= form_with model:@user, local:true do |f| %>

        <div class="col-12">
        　<%= f.label :name, '名前' %>
        　<%= f.text_field :name, autofocus: true %>
      　</div>

        <div class="col-12">
        　<%= f.label :introduction, '自己紹介' %>
        　<%= f.text_field :introduction, autofocus: true %>
      　</div>

        <div class="col-12 pb-3">
        　<%= f.label :money_type, '価値観' %>
        　<%= f.select :money_type, User.money_types_i18n.keys.map {|k| [User.money_types_i18n[k], k]} %>
        </div>

        <div class="offset-3 col-9 pb-3">
          <%= f.submit "変更を保存", class: 'btn btn-outline-dark' %>
        </div>

    <% end %>
    </div>
</div>