<h3>ユーザー一覧</h3>


<table class="table">
    <tr>
        <th>名前</th>
        <th>自己紹介</th>
        <th>タイプ</th>
        <th>moneyカレンダー</th>
        <th>支出表</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td>
            <%= user.name %>
        </td>
        <td>
            <%= user.introduction %>
        </td>
        <td>
            <%= user.money_type_i18n %>
        </td>
        <td>
            <%= link_to'カレンダー',events_path(user_id: user.id) %>
        </td>
        <td>
            <%= link_to'支出一覧',payments_path(user_id: user.id)%>
        </td>
    </tr>
    <% end %>
</table>





