<div class="container-fluid pt-5">

  <div class="row pb-5">

    <div class="offset-4 col-5 pt-4">
        <%= link_to 'ユーザー情報編集', edit_user_path(current_user.id) %>
    </div>

    <div class="offset-4 col-5 align-self-center pt-4">
        <i class="far fa-hand-point-right"></i>
        <%= link_to events_path(user_id: current_user.id) do %>
        <button class="btn btn-outline-dark", style="width:80%">カレンダー</button>
        <% end %>
    </div>

    <div class="offset-4 col-5 pt-4">
        <i class="far fa-hand-point-right"></i>
        <%= link_to new_payment_path(user_id: current_user.id) do %>
        <button class="btn btn-outline-dark", style="width:80%">家計簿の登録</button>
        <% end %>
    </div>

    <div class="offset-4 col-5 pt-4">
        <i class="far fa-hand-point-right"></i>
        <%= link_to payments_path(user_id: current_user.id) do %>
        <button class="btn btn-outline-dark", style="width:80%">家計簿一覧</button>
        <% end %>
    </div>
    <div class="offset-4 col-5 pt-4">
        <i class="far fa-hand-point-right"></i>
        <%= link_to wants_path(user_id: current_user.id) do %>
        <button class="btn btn-outline-dark", style="width:80%">購入検討リスト</button>
        <% end %>
    </div>

    <div class="offset-4 col-5 pt-4">
        <i class="far fa-hand-point-right"></i>
        <%= link_to buys_path(user_id: current_user.id) do %>
        <button class="btn btn-outline-dark", style="width:80%">購入リスト</button>
        <% end %>
    </div>

  </div>
</div>

