<div class="container py-5">
    <h2 class="text-center">パスワードを忘れましたか？</h2>
    <div class="row justify-content-center py-5">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field pt-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions pt-3">
          <%= f.submit "送信" %>
        </div>
      <% end %>
    </div>
</div>

<%#= render "devise/shared/links" %>
