<h1>カレンダー画面</h1>

<%= month_calendar events: @events do |date, events| %>
<%= date.day %>


<% events.each do |event| %>
    <div>
      <%= event.title %>
      <%= event.body %></br>
      <%= link_to '削除', event_path(event.id), method: :delete %>
    </div>
<% end %>

<% end %>

<%= link_to 'イベント追加', new_event_path %>

<h4>コメント</h4>
<% @post_comments.each do |post_comment| %>
  <%= post_comment.comment %>
  <%= post_comment.user.name %>
  <%= link_to "削除", post_comment_path(post_comment.id), method: :delete %>
<% end %>


<%= form_with(model: @post_comment, local: true) do |f|%>
  <%= f.text_area :comment, rows:"7", placeholder:"コメントをここに記入してください。" %>
  <%= f.submit "送信"%>
<% end %>