<div class="container py-5">
  <h1>カレンダー<i class="far fa-calendar-alt"></i></h1>

    <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      <% events.each do |event| %>
          <div>
            <%= event.title %>
            <%= event.body %></br>

            <% if current_user.id == event.user_id %>
              <%= link_to event_path(event.id), method: :delete,class: "delete-button btn btn-outline-danger" do %>
              <p>削除</p>
              <% end %>
            <% end %>

          </div>
      <% end %>
    <% end %>

    <% if current_user.id == params[:user_id].to_i %>
      <%= link_to new_event_path, class: 'btn btn-outline-info' do %>
        カレンダーへ追加
      <% end %>
    <% end %>

    <% if @event_month.present? %>
    <%= link_to new_post_comment_path(user_id: @user.id), class: 'btn btn-outline-success' do  %>
    コメントの追加
    <% end %>
    <% end %>

    <div class="table-responsive-sm">
      <table class="table table-border border-success">
      <tr>
        <th>コメント<i class="far fa-comments"></i></th>
        <th>名前</th>
        <th></th>
      </tr>

      <% @event_month.each do |em| %>
        <% em.post_comments.each do |empc| %>
        <tr>
          <td><%= empc.comment %></td>
          <td><%= empc.user.name %></td>
          <td>
            <% if current_user.id == empc.user_id %>
                <%= link_to post_comment_path(empc.id), method: :delete, class: 'btn btn-outline-dark' do%>
                  削除
                <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
      </table>
    </div>

</div>