<div class="container-fluid pt-5">
    <h1 class="text-center">カレンダー作成</h1>

    <div class="row justify-content-center pb-5">
    <%= form_with(model: @event, local: true) do |form| %>

      <div class="col-12">
        <%= render 'layouts/error_messages', model: form.object %>
      </div>

      <div class="col-12 pt-4">
        <%= form.label :start_time %>
        <%= form.date_select :start_time %>
      </div>

      <div class="col-12 pt-3">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="col-12 pt-3">
        <%= form.label :body %>
        <%= form.text_field :body %>
      </div>


      <div class="submit col-12 pt-2 pl-5 ml-4">
        <%= form.submit "追加する", class: 'btn btn-lg btn-outline-info'  %>
      </div>

    <% end %>
    </div>

</div>