<div class="container-fluid mt-5">
  <h1 class="text-center">ログイン</h1>

    <div class="row justify-content-center mb-5">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="col-12 mt-2">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="col-12 mt-2">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="col-12 mt-2">
            <%= f.check_box :remember_me %>
            <%= f.label :情報を保持しますか？ %>
          </div>
        <% end %>

        <div class="col-12 mt-2">
          <%= f.submit "ログイン" %>
        </div>

      <% end %>

      <div class="col-12">
        <%= render "devise/shared/links" %>
      </div>

    </div>
</div>
