<div class="container py-5">


    <h1 class="buy-title py-5">
        今月の購入リスト
        <i class="fas fa-shopping-cart"></i>
    </h1>

    <table class="table">
        <tr>
            <th><h3>商品名</h3></th>
            <th><h3>価格</h3></th>
        </tr>
        <% @buys.each do |buy| %>
        <tr>
            <td><h5><%= buy.want.name%></h5></td>
            <td><h5><%= buy.want.price %>円</h5></td>
        </tr>
        <% end %>

    </table>

    <h3 class="text-right"><u>合計金額<%= @sum %>円</u></h3>

    <h4 class="col-5 buy-text pt-5">
        <i class="fas fa-calculator"></i>
        <u>今月の自由費の予算は<%= @month_enjoy %>円</u>
        <i class="fas fa-calculator"></i>
    </h4>

    <% @diff= @month_enjoy - @sum %>
    <h2 class="col-3 bg-light mt-5"><u>差額<%= @diff %>円</u></h2>
</div>