<h1>一覧画面</h1>

<table>
    <tr>
        <th>年月</th>

            <% @lists[:month].zip(@lists[:id]).each do |m, id| %>
            <th>
            <%= link_to payment_path(id) do %>
                <%= m.strftime("%-m月") %>
            <% end %>
            </th>
            <% end %>

    </tr>
    <tr>
        <th>家賃</th>
        <%  @lists[:house].each do |h| %>
        <td><%= h %></td>
        <% end %>
    </tr>
    <tr>
        <td>生活費</td>
        <%  @lists[:life].each do |l| %>
        <td><%= l %></td>
        <% end %>
    <tr>
    <tr>
        <td>食費</td>
        <%  @lists[:food].each do |f| %>
        <td><%= f %></td>
        <% end %>
    </tr>
    <tr>
        <td>交際費</td>
        <%  @lists[:enjoy].each do |e| %>
        <td><%= e %></td>
        <% end %>
    </tr>
    <tr>
        <td>貯金</td>
        <%  @lists[:saving].each do |s| %>
        <td><%= s %></td>
        <% end %>
    </tr>
    <tr>
        <td>資産運用</td>
        <%  @lists[:investing].each do |i| %>
        <td><%= i %></td>
        <% end %>
    </tr>
    <tr>
        <td>その他</td>
        <%  @lists[:other].each do |o| %>
        <td><%= o %></td>
        <% end %>
    </tr>
    <tr>
        <th>合計金額</th>
        <%  @lists[:sum].each do |s| %>
        <td><%= s %></td>
        <% end %>
    </tr>


</table>