<h1>家計簿作成画面</h1>

<%= form_with model:@payment,  local:true do |f| %>
  <div class="month">
    <%= f.label :年月 %>
    <%= f.date_select :month, use_month_numbers: true, date_separator: '年', discard_day: true %>月
  </div>

  <div class="payment">
      <%= f.label :家賃　%>
      <%= f.text_field :house %>円
  </div>

  <div class="payment">
      <%= f.label :生活費　%>
      <%= f.text_field :life %>円
  </div>

  <div class="payment">
      <%= f.label :食費　%>
      <%= f.text_field :food %>円
  </div>

  <div class="payment">
      <%= f.label :娯楽費 %>
      <%= f.text_field :enjoy %>円
  </div>

  <div class="payment">
      <%= f.label :貯金　%>
      <%= f.text_field :saving %>円
  </div>

  <div class="payment">
      <%= f.label :資産運用　%>
      <%= f.text_field :investing %>円
  </div>

  <div class="payment">
      <%= f.label :その他　%>
      <%= f.text_field :other %>円
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>