<table>
    <tr>
        <th></th>
        <th><%= @payment.month.strftime("%-m月") %></th>
    </tr>
    <tr>
        <th>家賃</th>
        <td><%= @payment.house %></td>
    </tr>
    <tr>
        <th>生活費</th>
        <td><%= @payment.life %><td>
    </tr>
    <tr>
        <th>食費</th>
        <td><%= @payment.food %></td>
    </tr>
    <tr>
        <th>娯楽費</th>
        <td><%= @payment.enjoy %></td>
    </tr>
    <tr>
        <th>貯金</th>
        <td><%= @payment.saving %></td>
    </tr>
    <tr>
        <th>資産運用</th>
        <td><%= @payment.investing %></td>
    </tr>
    <tr>
        <th>その他</th>
        <td><%= @payment.other %></td>
    </tr>
    <tr>
        <th>合計金額</th>
        <td><%= @sum %></td>
    </tr>
</table>

<%= link_to '削除する', payment_path(@payment.id), method: :delete %>

<%= pie_chart @graph_data, colors: ["#191970",	"#D6FF58",	"#60EEFF",	"#5D99FF",	"#A16EFF",	"#FF69A3",	"#FF773E"] %>